save-exact=true
fund=false
audit=false
prefer-offline=true
cache-min=3600
progress=false
loglevel=error
maxsockets=5
network-timeout=100000
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000